apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ .Values.conf.appName | quote }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  hosts:
    - {{ printf "osdu.%s" .Values.global.domain | quote }}
  gateways:
    - service-gateway
  http:
    - match:
        - uri:
            prefix: "/api/workflow"
      route:
        - destination:
            port:
              number: 80
            host: {{ printf "%s.%s.svc.cluster.local" .Values.conf.appName .Release.Namespace | quote }}

