variables:
  CIMPL_SERVICE: workflow
  CIMPL_ENABLE_BOOTSTRAP: "true"

cimpl-test:
  variables:
    TEST_DAG_NAME: "airflow_monitoring"
    FINISHED_WORKFLOW_ID: "79447ca3-e313-41e0-b8a5-2ea0cbec24c5"
    WORKFLOW_HOST: "https://osdu.$CIMPL_DOMAIN/api/workflow/"

cimpl-acceptance-test:
  variables:
    EXTERNAL_AIRFLOW_TESTS_ENABLED: "true"
    TEST_DAG_NAME_EXTERNAL_AIRFLOW: "airflow_monitoring"
    EXTERNAL_AIRFLOW_SECRET: "airflow-workflow-tests"

#dev2 jobs

cimpl-dev2-deploy:
  needs:
    - "cimpl-containerize-gitlab"
    - "cimpl-helm-charts-release-gitlab"
  rules:
    - if: "$CI_COMMIT_BRANCH =~ /^test-cimpl-release/"
      when: on_success
    - if: '$CIMPL == "1" && $CI_COMMIT_TAG'
      when: on_success

cimpl-dev2-acceptance-test:
  variables:
    EXTERNAL_AIRFLOW_TESTS_ENABLED: "true"
    TEST_DAG_NAME_EXTERNAL_AIRFLOW: "airflow_monitoring"
    EXTERNAL_AIRFLOW_SECRET: "airflow-workflow-tests"
#    SIGNED_URL_EXPIRY_TIME_MINUTES: "15"
  rules:
    - if: '$CIMPL_INT_TEST_TYPE != "python" && $CI_COMMIT_BRANCH =~ /^test-cimpl-release/'
      when: on_success
    - if: $ACCEPTANCE_TEST_DIR == null
      when: never
    - if: '$CIMPL == "1" && $CIMPL_INT_TEST_TYPE != "python" && $CI_COMMIT_TAG'
      when: on_success

cimpl-dev2-test:
  rules:
    - if: '$CIMPL_INT_TEST_TYPE != "python" && $CI_COMMIT_BRANCH =~ /^test-cimpl-release/'
      when: on_success
    - if: '$CIMPL_INT_TEST_TYPE != "python" && $CIMPL == "1" && $CI_COMMIT_TAG'
      when: on_success

cimpl-helm-charts-release-gitlab:
  rules:
    - if: "$CI_COMMIT_BRANCH =~ /^test-cimpl-release/"
      when: on_success
    - if: "$CI_COMMIT_TAG"
      when: on_success

cimpl-containerize-gitlab:
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^test-cimpl-release/'
      when: on_success
    - if: "$CIMPL == '1'"
      when: on_success

#@@@VERSION="$RELEASE_VERSION.0.0.1-release"; need to change
#if [[ -z $CI_COMMIT_TAG ]] && [[ $CI_COMMIT_BRANCH =~ ^test-cimpl-release-.*$ ]]; need to change
#remove RELEASE_VERSION in release block
.cimpl_define_version:
  script:
    - >
      if [[ -z $CI_COMMIT_TAG ]] && [[ $CI_COMMIT_BRANCH =~ ^test-cimpl-release-.*$ ]];
      then
        VERSION="0.0.1-release.test.cimpl";     

      elif [[ "$CI_COMMIT_TAG" != "" ]];
      then
        VERSION=$(echo $CI_COMMIT_TAG | sed "s/^v//");
      else
        VERSION="0.0.0-invalid";
      fi
    - echo $VERSION

